body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}

header {
    text-align: center;
}

h1 {
    font-size: 24px;
}

.exercise {
    margin-top: 20px;
}

.set-row {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

input.input-number {
    width: 50px; /* Reduced size for 3-digit input */
    margin-right: 10px;
    padding: 2px;
    text-align: center;
}

input.set-complete {
    margin-left: 10px;
    transform: scale(1.2);
    cursor: pointer;
}

button {
    margin-top: 10px;
    padding: 5px 10px;
    cursor: pointer;
}

.save-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
}
